* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    gap: 30px;
    background: #f7f7f7;
    justify-content: center;
    margin-top: 100px;
}

.roboto__regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    color: #545454;
}

.roboto__bold {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.inter__regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    color: #545454;
    padding-left: 10px;
}

.create__account,
.profile {
    width: 570px;
    height: 590px;
    padding: 55px auto;
    background-color: #fff;
}

.create__account h2,
.profile h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: #1c1c1c;
    margin: 35px 0 20px 35px;
}

.create__account-form {
    display: flex;
    flex-direction: column;
    margin: 0 34px 7px 34px;
}

.form__name {
    display: flex;
    gap: 12px;
}

.form__name-first,
.form__name-second,
.form__email {
    display: inline-block;
    width: 245px;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-top: 7px;
    margin-bottom: 20px;
    transition: 0.5s;
    outline: none;
}

.form__name-second:hover {
    border: 1px solid #007BFF;
}

.form__name-first:hover {
    border: 1px solid #007BFF;
}

.form__email {
    width: 500px;
    margin-bottom: 0;
}

.form__email:hover {
    border: 1px solid #007BFF;
}

.email__paragraf {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: #969696;
    margin: 0px 0px 20px 36px;
}

.label__gender {
    display: inline-block;
    margin: 0 0 20px 36px;
}

.form__country {
    display: flex;
    gap: 10px;
    margin: 0 0 20px 36px;
}

.city,
.country {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin-top: 7px;
    transition: 0.5s;
    outline: none;
    padding: 8px 10px;
}

.city:hover {
    border: 1px solid #007BFF;
}

.country:hover {
    border: 1px solid #007BFF;
}

.btn__submit {
    width: 500px;
    height: 38px;
    background-color: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    margin: 0 0 22px 36px;
}

.sign-up__paragraf {
    width: 413px;
    margin-left: 80px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #969696;
}

.sign-up__paragraf a {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

hr {
    width: 500px;
    margin-left: 36px;
    border: 0.5px solid #E4E4E4;
}

.log-in__anchor {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.log-in__anchor a {
    color: #007BFF;
    text-decoration: none;
}

.profile__items {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    margin-left: 36px;
}

.profile__info {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.text__tip {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    color: #969696;
    width: 100%;
}

/* .label__gender input{
    opacity: 0;
    
} */

#photo {
    display: none;
}

.label__photo {
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding: 3px 7px 3px 122px;
    transition: 0.5s;
}

.label__photo:hover {
    border: 1px solid #007BFF;
}

#reset {
    border: 1px solid #E4E4E4;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
}

#reset:hover {
    border: 1px solid #007BFF;
}

.arrow-select {
    appearance: none;
    background-image:
        url("data:image/svg+xml;utf8,<svg width='14' height='14' xmlns='http://www.w3.org/2000/svg'><polygon points='7,3 3,7 11,7' fill='gray'/></svg>"),
        url("data:image/svg+xml;utf8,<svg width='14' height='14' xmlns='http://www.w3.org/2000/svg'><polygon points='3,7 11,7 7,11' fill='gray'/></svg>");
    color: #969696;
    background-repeat: no-repeat;
    background-position:
        right 12px center,
        right 12px center;
    background-position-y:
        calc(50% - 1px),
        calc(50% + 1px);
}